<!--main content start-->
  <section id="main-content">
    <section class="wrapper"> 
      <!-- Replenish Stock-->
      <div class="row margin_none">
        <div class="col-lg-4">
          <div class="item_box">
            <div class="item_inner"> <img src="images/item.jpg" alt=""/>
              <p>Name of the item goes here</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <h1 class="page-header">Replenish Stock</h1>
          <form role="form" class="form_add_new">
            <!-- /.panel -->
            <div class="form-group">
              <label>Quantity</label>
              <input class="form-control">
            </div>
            <!-- /.panel End --> 
            <!-- /.panel -->
            <div class="form-group">
              <label>Date in</label>
              <div class="input-group date">
                <input type='text' class="form-control span2" id="dp" placeholder="Select your date"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span> </div>
            </div>
            <!-- /.panel End --> 
            <!-- /.panel -->
            <div class="form-group">
              <label>Stock Storage Area</label>
              <select class="selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <!-- /.panel End --> 
            <!-- /.panel -->
            <div class="form-group custm_buttons">
              <button class="btn btn-default save_btn" type="submit">Save</button>
              <button class="btn btn-default cancel_btn" type="reset">Cancel</button>
            </div>
            <!-- /.panel End -->
          </form>
        </div>
      </div>
      <!--Replenish Stock end--> 
    </section>
  </section>