<!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div class="row margin_none">
        <div class="col-md-4">
          <div class="item_box">
            <div class="item_inner"> <img src="images/item.jpg" alt=""/>
              <p>Name of the item goes here</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <h1 class="page-header">Move Stock</h1>
          <form role="form" class="form_add_new">
            <!-- /.panel -->

               <div class="form-group">
                                <label>Quantity</label>
                                {{view Ember.TextField valueBinding="controller.currentCustomer.quantity" class="form-control"}}
                            </div>

            <div class="form-group">
                                <label>Name</label> 
                                {{view Ember.TextField valueBinding="controller.currentCustomer.name" class="form-control"}}
                            </div>
            <!-- /.panel End --> 
            <!-- /.panel -->
            <div class="input-group date form_datetime-component">
                                            <label>Date Example</label>
                                              {{view Ember.TextField valueBinding="controller.currentCustomer.date" class="form-control"}}
                                                <span class="input-group-btn">
                                                <button class="btn btn-danger date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                          </div>
            <!-- /.panel End --> 
             <!-- /.panel -->
            <div class="input-group date form_datetime-component">
                                            <label>Date Example</label>
                                              {{view Ember.TextField valueBinding="controller.currentCustomer.date" class="form-control"}}
                                                <span class="input-group-btn">
                                                <button class="btn btn-danger date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                          </div>
            <!-- /.panel End --> 
            <!-- /.panel -->
            <div class="form-group">
              <label>SSA Destination</label>
              <select class="selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <!-- /.panel End --> 
            <!-- /.panel -->
            <div class="form-group custm_buttons">
              <button class="btn btn-default save_btn" {{action "save" on="click" target="view" }}>Save</button>
              <button class="btn btn-default cancel_btn" type="reset">Cancel</button>
            </div>
            <!-- /.panel End -->
          </form>
        </div>
      </div>
    </section>
  </section>
  <!--main content end--> 