<!--main content start-->
  <section id="main-content">
    <section class="wrapper"> 
    <!-- Consume Stock -->    
      <div class="row margin_none">
	  	<div class="col-md-4">
	  		<div class="item_box">
				<div class="item_inner">
				<img src="images/item.jpg" alt=""/>
				<p>Name of the item goes here</p>
				</div>
			</div>
	    </div>
	   	<div class="col-lg-8">
		<h1 class="page-header">Consume Stock</h1>
      		<form role="form" class="form_add_new">
          <!-- /.panel -->
          <div class="form-group">
            <label>Quantity Consumed</label>
    		<input type="radio" name="options" id="radio1" autocomplete="off"> Percentage
    		<input type="radio" name="options" id="radio2" autocomplete="off"> Quantity
          </div>
          <!-- /.panel End -->
          <!-- /.panel -->
		  <div class="form-group quantity_box">
            <label></label>
		  <p>Total Units Consumed</p><span>10</span></div>
          <!-- /.panel End -->
          <!-- /.panel -->
          <div class="form-group">
          <label>Date Consumed</label>
                <div class='input-group date'>
                    <input type='text' class="form-control span2" id="dp" placeholder="Select your date"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
          </div>
          <!-- /.panel End -->
          <!-- /.panel -->
          <div class="form-group">
            <label>Reason</label>
            <select class="selectpicker">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <!-- /.panel End -->
          <!-- /.panel -->
          <div class="form-group custm_buttons">
            <button class="btn btn-default save_btn" type="submit">Save</button>
            <button class="btn btn-default cancel_btn" type="reset">Cancel</button>
          </div>
          <!-- /.panel End -->
      </form>
	  </div>
      </div>
	<!-- Consume Stock End --> 
    </section>
  </section>
  <!--main content end--> 